@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);

  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);

  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

.overall_container {
  /* max-width: 1440px; */
  margin: auto;
  height: 100vh;
  width: 100%;
}

h1,
h3 {
  font-family: "Raleway", sans-serif;
}

a,
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 48px 80px;
}

.header_links {
  display: flex;
  gap: 48px;
}

.header_links a {
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  color: var(--desaturated-blue);
}

.header_links a:hover {
  color: var(--bright-blue);
}

.fylo_logo img {
  width: 88%;
}

/* Hero Section */

.hero_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 80px;
  padding-bottom: 120px;
}

.hero_textAndInput {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  width: fit-content;
}

.hero_textAndInput h1 {
  font-size: 40px;
  color: var(--very-dark-blue);
  font-weight: 700;
  line-height: 56px;
}

.hero_textAndInput p {
  font-size: 18px;
  color: var(--desaturated-blue);
  width: 92%;
}

.hero_textAndInput input {
  padding: 16px;
  border-radius: 4px;
  border: 1.5px solid var(--light-gray);
  width: 320px;
}
.hero_textAndInput input::placeholder {
  color: var(--light-gray);
  font-size: 16px;
}

.emailBtnContainer {
  display: flex;
  width: 100%;
  gap: 16px;
}

.emailBtnContainer button {
  padding: 16px;
  height: 100%;
  background-color: var(--bright-blue);
  color: var(--light-grayish-blue);
  box-shadow: 2px 2px 1px hsl(0, 0%, 75%);
  font-weight: 700;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
  cursor: pointer;
}
.emailBtnContainer button:hover {
  background-color: var(--very-dark-blue);
}

.hero_img,
.hero_img img {
  width: 92%;
  padding-top: 20px;
  float: right;
}

/* Stay Productive Section */

.stayProductive_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 140px 80px;
  background-image: url(./images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stayProductive_textAndCard {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.stayProductive_titleAndSubtext {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.stayProductive_titleAndSubtext h1 {
  font-size: 40px;
  color: var(--very-dark-blue);
  font-weight: 700;
  line-height: 56px;
}

.stayProductive_titleAndSubtext p {
  font-size: 18px;
  color: var(--desaturated-blue);
  width: 100%;
}

.stayProductive_titleAndSubtext a {
  font-size: 18px;
  color: var(--moderate-cyan);
  cursor: pointer;
}

.stayProductive_subtext_link {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text_arrowIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid var(--moderate-cyan);
  width: fit-content;
}
.text_arrowIcon a {
  text-decoration: none;
}
.text_arrowIcon img {
  width: 20px;
  padding-top: 8px;
}

/* Testimonial Card */

.testimonial_card {
  display: flex;
  flex-direction: column;
  gap: 28px;
  box-shadow: 2px 2px 4px 2px rgba(60, 60, 60, 0.1);
  background-color: #fefefe;
  width: 420px;
  border-radius: 8px;
  padding: 32px 40px;
}
.testimonial_card p {
  color: var(--desaturated-blue);
}

.testimonial_profile {
  display: flex;
  gap: 16px;
  align-items: center;
}

.testimonial_profile img {
  border-radius: 100%;
  width: 56px;
}

.name_position h3 {
  font-size: 14px;
}
.name_position p {
  font-size: 12px;
  line-height: 20px;
}

.quote img {
  width: 20px;
  color: var(--very-dark-blue);
}

.quote_testimonial {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Illustraion on Stay productive section */

.stayProductive_img,
.stayProductive_img img {
  width: 86%;
  padding-top: 16px;
  float: right;
}

/* Get Early Access section */

.getEarlyAccess_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 88px 80px;
  background-color: var(--desaturated-blue);
}

.getEarlyAccess_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 44%;
  color: var(--light-grayish-blue);
}
.getEarlyAccess_text h1 {
  font-size: 40px;
  font-weight: 700;
}
.getEarlyAccess_text p {
  font-size: 18px;
}

.getEarlyAccess_emailBtn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.getEarlyAccess_emailBtn input {
  padding: 16px;
  border-radius: 4px;
  border: 1.5px solid var(--light-gray);
  width: 500px;
}

.getEarlyAccess_emailBtn input::placeholder {
  color: var(--light-gray);
  font-size: 16px;
}

.getEarlyAccess_emailBtn button {
  padding: 16px;
  background-color: var(--bright-blue);
  color: var(--light-grayish-blue);
  box-shadow: 2px 2px 1px hsl(0, 0%, 32%);
  font-weight: 700;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  width: 224px;
  cursor: pointer;
}
.getEarlyAccess_emailBtn button:hover {
  background-color: var(--very-dark-blue);
}

/* Footer */

.footer {
  padding: 100px 20px;
  gap: 24px;
  background-color: var(--very-dark-blue);
  width: 100%;
  padding: 100px 80px;
}
.footer a {
  text-decoration: none;
  color: var(--light-grayish-blue);
  cursor: pointer;
}
.footer a:hover {
  color: var(--bright-blue);
}

.logo_fylo img {
  filter: brightness(0) invert(1);
  width: 10%;
}

.footerLinks_overallContainer {
  display: flex;
  justify-content: space-between;
}

.firstBlock_footerLinks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.telephone_No {
  display: flex;
  color: var(--light-grayish-blue);
  align-items: center;
  gap: 16px;
}

.email_address {
  display: flex;
  color: var(--light-grayish-blue);
  align-items: center;
  gap: 16px;
}

.secondBlock_footerLinks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.thirdBlock_footerLinks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.socialLinks {
  display: flex;
  gap: 24px;
}

.socialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 0.5px solid var(--light-grayish-blue);
}
.socialLinks a:hover {
  color: var(--bright-blue);
  border: 0.5px solid var(--bright-blue);
}

/* Mobile Responsiveness 480px */

@media screen and (max-width: 480px), (max-width: 999.9px) {
  .header {
    width: 100%;
    padding: 48px 24px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  a,
  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
  }
  /* Header */

  .fylo_logo img {
    width: 44%;
  }

  .header_links {
    display: flex;
    gap: 12px;
  }

  .header_links a {
    text-decoration: none;
    font-size: 16px;
    color: var(--desaturated-blue);
  }

  /* Hero Section */

  .hero_section {
    display: flex;
    flex-direction: column-reverse;
    gap: 64px;
    align-items: center;
    padding: 24px 24px;
    padding-bottom: 100px;
  }

  .hero_textAndInput h1 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }

  .hero_textAndInput p {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  .hero_textAndInput input {
    width: 100%;
  }

  .emailBtnContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }

  .emailBtnContainer button {
    width: 100%;
  }

  .hero_img,
  .hero_img img {
    width: 100%;
  }

  /* Stay Productive Section */

  .stayProductive_section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    width: 100%;
    padding: 100px 24px;
    background-image: url(./images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .stayProductive_img,
  .stayProductive_img img {
    width: 100%;
  }
  .stayProductive_textAndCard {
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
  }

  .testimonial_card {
    display: flex;
    flex-direction: column;
    gap: 28px;
    box-shadow: 2px 2px 4px 2px rgba(60, 60, 60, 0.1);
    background-color: #fefefe;
    width: 100%;
    border-radius: 8px;
    padding: 32px 40px;
  }

  .stayProductive_titleAndSubtext {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .stayProductive_titleAndSubtext h1 {
    font-size: 24px;
    text-align: center;
    line-height: 36px;
  }

  .stayProductive_titleAndSubtext p {
    font-size: 16px;
    width: 100%;
  }

  .stayProductive_titleAndSubtext a {
    font-size: 16px;
    color: var(--moderate-cyan);
  }

  .stayProductive_subtext_link {
    align-items: center;
  }

  /* Get early access section */

  .getEarlyAccess_section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 80px 32px;
    background-color: var(--desaturated-blue);
  }

  .getEarlyAccess_text {
    gap: 24px;
    width: 100%;
    align-items: center;
  }
  .getEarlyAccess_text h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 36px;
  }
  .getEarlyAccess_text p {
    font-size: 16px;
    text-align: center;
  }

  form {
    width: 100%;
  }
  .getEarlyAccess_emailBtn {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }
  .getEarlyAccess_emailBtn input {
    width: 100%;
  }

  .getEarlyAccess_emailBtn button {
    width: 100%;
  }

  /* Footer */

  .footer {
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-blue);
    padding: 88px 32px;
    gap: 32px;
  }

  .footerLinks_overallContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 56px;
  }

  .footer a {
    font-size: 16px;
  }

  .logo_fylo img {
    filter: brightness(0) invert(1);
    width: 40%;
  }

  .socialLinks {
    display: flex;
    gap: 24px;
    margin: auto;
  }

  .socialLinks a {
    font-size: 16px;
    width: 32px;
    height: 32px;
  }
}
